<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN"> <!-- WARN for Log4j internal events-->
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT"/>
    </Appenders>
    <Loggers>
        <!-- TRACE - DEBUG - INFO - WARN - ERROR - FATAL -->
        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>