<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="API Test Suite" parallel="tests" configfailurepolicy="continue">
    <test name="Test A">
        <classes>
            <class name="com.datadog.civisibility.test.NumberUtilsTest">
                <methods>
                    <include name="testSaturatedCastAboveMax"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Test B">
        <classes>
            <class name="com.datadog.civisibility.test.NumberUtilsTest">
                <methods>
                    <include name="testSaturatedCastBelowMin"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Test C">
        <classes>
            <class name="com.datadog.civisibility.test.NumberUtilsTest">
                <methods>
                    <include name="testSaturatedCastWithinRange"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>